  <%
    def link_to(name, url)
        return "<a href='#{url}'>#{name}</a>"
     end
    %>

<html>
  <body>
    <h1>POST BEAT</h1>
    <p>
      <h3> 'If you can't do it lying down, it's not worth doing' - E.Duffus 28/12/14</h3>
      <p>Lets find out more...</p>
      <a href='me.html'>Me</a>

    </p>
    <hr />
    <div>
      <%= yield %>
    </div>
    <hr />
    <div>
      <h3> Please check all these things</h3>
      <p> <%= link_to('HopelessCoders Blog', 'https://hopelesscoders.wordpress.com/') %></p>
    </div>
  </body>
</html>
