<p>Listen to me hopelesscoderE</p>

<div>
    <ol>
      <li>clam</li>
      <li>oyster</li>
    </ol>
</div>

<ul>
  <% ['apples', 'oranges', 'bananas'].each do |fruit| %>
    <li>I like to eat <%= fruit %></li>
  <% end %>
</ul>

<div>
  <p>who are you?<p>
  <%= puts "no really, who are you?" %>
  <% answer = gets.chomp %>
  <p>ok, so you are <%= answer %></p>
</div>
